! Xresources file

URxvt.depth: 32
! URxvt.background: [00]#000000
! Numix Theme
URxvt.background: [100]#2d2d2d
! Google Slides
! URxvt.background: [100]#212121
URxvt.scrollBar: false
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
URxvt.foreground: White
! URxvt.cursorColor: #666

! Use a nice truetype font and size by default...
! Big
! urxvt.font: xft:OxygenMono:pixelsize=24,xft:Monospace:size=9:antialias=true:hinting=true
! Normal
urxvt.font: xft:OxygenMono:pixelsize=16,xft:Monospace:size=9:antialias=true:hinting=true

rofi.font: Oxygen Mono 13
rofi.fuzzy: true
rofi.separator-style: none
rofi.background: #231f20
rofi.foreground: #d1e1ff
rofi.highlightbg: #635f60
rofi.highlightfg: #111
rofi.bordercolor: #433f40
rofi.padding: 1
rofi.lines: 10
rofi.borderwidth: 2
rofi.hide-scrollbar: true

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard

! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC


